:root {
    --main-bg: #E6E6E6;
    --strip-bg: #F0F0F0;
    --design-icon: #E6563B;
    --develop-icon: #DEA03D;
    --support-icon: #7CB06C;
    --host-icon: #00ABA9;
}

body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

h1 {
    color: black;
    font-family: 'Anton', sans-serif;
}
h2

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    padding: 1.5em;

}

.nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: #E6563B;
=======
}

div.profile-logo{
    display: flex;
    justify-content: center;
>>>>>>> bafa125f4fa28aa1a403fc418d837d9df0eb6612
}

